#будут игнорироваться файлы из каталога tmp
/tmp
#будут игнорироваться файлы _old
_old
#будут игнорироваться файлы _backup
_backup
#будут игнорироваться файлы Thumbs.db
Thumbs.db
#будут игнорироваться файлы .DS_Store
.DS_Store
